[2018-07-10 10:01] codepunkt opened #2 "Allow reusing the settings of last interactive run"
Great project! 👍

It would be awesome to interactively run until you have a style that you like (if you don't already have one by using carbon.now.sh) and then be able to consistently reuse these settings with an additional commandline flag (that can not be combined with interactive mode).

e.g.
- run -i first, pick your fonts, themes etc
- run -c (cached) later, reusing the latest -i settings.

[2018-07-10 10:07] sindresorhus opened #3 "Copy to clipboard"
I use most of my Carbon images on Twitter to illustrate some code snippet. Would be useful if this tool could just put the image in the clipboard instead of writing to disk. For example, if I use the a `--copy` flag.

[2018-07-10 10:15] mixn commented on #2
Thank you! ❤️

This is — by far — the most requested feature I’ve gotten so far and I can’t believe I have only thought of it *after* publishing, haha. ¯\_(ツ)_/¯

Planning to add it in the next few days. :) Will update!

[2018-07-10 10:22] mixn commented on #3
Great idea! :) Note taken, will try working on this soon.

[2018-07-10 10:50] ZYSzys opened #4 "Can I set timeout by myself?"
![screen shot 2018-07-10 at 6 43 18 pm](https://user-images.githubusercontent.com/23313266/42505388-300b5846-8471-11e8-970d-71ef8cc3784e.png)
I do can open [carbon](https://carbon.now.sh) on my browser though it show up slowly.
Upset. Can I set a timeout by myself or what should I do next?

[2018-07-10 11:01] mixn commented on #4
Hm, not sure where this is coming from to be honest. A quick Google lead me to this [https://github.com/GoogleChrome/puppeteer/issues/1425](https://github.com/GoogleChrome/puppeteer/issues/1425) — are you behind a firewall of some sort?

[2018-07-10 11:50] bluzi opened #5 "Generate images recursively from a directory"
Sometimes it is needed to create images from a folder of sources, like an examples folder.
It'll be faster to allow directory path as input, and reuse the same browser session to create images from all the source files in the directory.

wdyt?

[2018-07-10 12:06] ZYSzys commented on #4
Thanks. It seems that it is indeed module puppeteer's problem.

[2018-07-10 12:06] #4 closed

[2018-07-10 12:37] mixn commented on #4
Glad that worked for you and thank you for closing! 😊

[2018-07-10 12:44] tsriram commented on #3
@mixn I'm happy to give this a go if you'd like, assuming you haven't started working on this already :)

[2018-07-10 13:31] mixn commented on #5
Thanks for the feedback, @bluzi. :)

This was something I had in mind very early on but then let go cause I had the feeling it was too specific. But nice to see, that it apparently isn’t. :)

It definitely makes sense, now that I think of it. Wrote it down as a to-do and will add once there’s time. :)

[2018-07-10 18:52] deadcoder0904 commented on #2
I don't think `-c` is required. First time, prompt it & next time onwards use previously used settings.

[2018-07-11 00:07] sebestenyb opened #6 "Error: Sending code to https://carbon.now.sh went wrong."
Hi,

Fresh install, OSX High Sierra (10.13.5), firewall turned off (or on, doesn't matter).

[code]

[2018-07-11 01:13] mixn commented on #6
Can you try running the exact same thing again, but with the `-o` flag?

Like this:

[code]

Because it seems like the contents of the file are causing problems with Carbon itself, as can be seen by this https://goo.gl/hb1NwP also giving a `500` error.

Could you try a super simple file and report back? `echo 'Hello world';` will do, haha.

Thanks. :)

[2018-07-11 01:29] sebestenyb commented on #6
I've tried with smaller files, and it worked.
Line count around 170 worked, but around 270 didn't.
So it's probably a character limit, or maybe GET param limit.

[2018-07-11 01:29] #6 closed

[2018-07-11 01:36] mixn commented on #6
Probably the latter, yeah. Glad that worked for you and thanks for reporting! :)

[2018-07-11 03:00] farkaskid opened #7 "Support for older node/npm versions."
![screen shot 2018-07-11 at 8 21 09 am](https://user-images.githubusercontent.com/16179713/42548454-bee028c6-84e4-11e8-9178-ff69332ee6ba.png)

I think the above is due to my outdated node/npm version. I'm not willing to upgrade the node/npm version for some time now due to my involvement in some legacy projects.

Compatibility information should be mentioned in the README. Also, It would be good i

[2018-07-11 03:05] farkaskid opened #8 "Ability to change the default settings without building from the source."
An options of changing the default config is not immediately visible without building from the source.
Most of the people after some initial playing around would settle for a custom default settings.

I think an option should be there for that.

[2018-07-11 07:01] livissnack opened #9 "Image not downloaded correctly"
Error: Sending code to https://carbon.now.sh went wrong.

  This is mostly due to:

  – Insensical input like `--start 10 --end 2`
  – Carbon being down or taking too long to respond
  – Your internet connection not working or being too slow

[2018-07-11 07:59] boudhayan-dev opened #10 "Generated Image cannot be found."
I used the following to generate the image:
`carbon-now test.html`

The following error resulted:

[code]

The generated Image isn't available in the given path.

[2018-07-11 08:50] bluzi commented on #7
Just a tip: You can use a node version manager like [nvm](https://github.com/creationix/nvm) to easily toggle between older and newer versions of Node.

[2018-07-11 09:44] mixn commented on #10
Thanks for reporting! :)

Hm, not sure cause I haven’t had the chance to test this on a Windows machine yet (or debug for that matter). It’s tested and works on macOS and Linux.

Interesting how it gives both the positive and negative feedback though.

Could you fork the repo and try commenting this https://github.com/mixn/carbon-now-cli/blob/master/cli.js#L151-L157 out? Then run `npm install` ins

[2018-07-11 09:48] mixn commented on #8
Hi @farkaskid, thanks for your input. :)

As far as I understand, I think this is a duplicate of #2  and something that I’m planning to implement soon. Or am I not understanding correctly? :)

[2018-07-11 10:00] mixn commented on #2
Thinking about how to approach/implement this.

I dislike the idea of automatically taking the last interactive settings as default settings, because that makes exceptions a *real drag*. What do I mean?

Assuming you have settings you love and use 90% of the time, but you’d like to use different settings just once… that’d mean you’d have to run in `-i` for that one case and run the whole thing aga

[2018-07-11 10:04] HarshitKaushik commented on #9
Same issue. Also, I'm sure about two of these possible reasons.

- Not passing any Insensical input
- Internet connection is working and is 120 Mbps.

@mixn Please help to let us try this awesome thing out.

[2018-07-11 10:07] mixn commented on #9
Thanks for reporting, @livissnack. :) It’s really hard for me to debug this in any way, since this is the default error. What OS are you both on? @HarshitKaushik I haven’t tested it on Windows yet… should work for macOS and Linux. :)

[2018-07-11 10:15] BigGress opened #11 "Typescript can't render color"
Please check this code.

https://carbon.now.sh/?bg=rgba(0,0,0,0)&t=duotone-dark&wt=none&l=typescript&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=48px&ph=32px&ln=false&fm=Hack&fs=13px&lh=133%25&si=false&code=class%2520OlapTable%2520extends%2520TableCtrl%2520%257B%250A%2520%2520constructor(public%2520config%253A%2520any)%2520%257B%250A%2520%2520%2520%2520super(config)%253B%250A%2520%2520%257D

[2018-07-11 10:17] yedhink commented on #9
I also got the same error. tried it in linux. but passing the `-o` flag opens it in browser, and was  able to edit the image from there.
![](https://i.imgur.com/fePsupc.png)

[2018-07-11 10:23] Keraito commented on #2
The main advantage that I can see in "taking the last interactive settings as default settings" for the next run is that the user can decide the default settings *after* playing around with it and know how it looks, while in the suggested implementation he has to opt into it *before* that. Definitely like the idea tho!

Would it be feasible to combine your suggested implementation with having like

[2018-07-11 10:23] mixn commented on #9
@yedhink Where does the full URL of `TROUBLESHOOTING` lead to? Thanks in advance.

[2018-07-11 10:30] yedhink commented on #9
@mixn oops didn't see that it has been cut off . here's the full link :-
https://github.com/GoogleChrome/puppeteer/blob/master/docs/troubleshooting.md

[2018-07-11 10:31] Keraito commented on #11
@BigGress the problem seems to be in the language set in your url. Now it's `l=typescript`, but it should be `l=application/typescript`.

[2018-07-11 10:42] mixn commented on #11
@Keraito Seems like @Keraito is right about this.

As I assumed, carbon-now-cli handles this [correctly](https://github.com/mixn/carbon-now-cli/blob/master/src/helpers/language-map.json#L112-L113) — and so does Carbon itself.

Are you setting this manually?

[2018-07-11 10:42] #11 closed

[2018-07-11 10:48] farkaskid commented on #8
Yeah, it almost the same. What I had in mind was ability to make 'profiles' by the combination of your fav settings and then ability to set any one of the profiles as default. It will be like making and switching themes is a text editor.
This is a superset of #2 . #2 proposal is much cleaner and feels lightweight, I like that.

[2018-07-11 11:27] albinekb opened #12 "Enable piping"
It would be cool if we could copy some code, then run `pbpaste | carbon-now` to make an image of the clipboard contents.

[2018-07-11 11:46] boudhayan-dev commented on #10
Okay so it worked the first time. A `carbon.png` file containing the snapshot of `_index.html` was created. But on subsequent try's, it did not produce any result.

[code]

I did a fresh build in different directory but this time it did not even work for the first time. However, success message was displayed as above.

[2018-07-11 11:59] rafal-olszewski commented on #10
The same happens on Mac

[code]

[2018-07-11 18:15] deadcoder0904 commented on #2
@mixn Like your approach :)

I think this is a bit too much for a CLI but sure :)

[2018-07-11 18:23] codepunkt commented on #2
@mixn -i or -i -c or -u sounds great!

[2018-07-11 23:13] mixn commented on #9
@yedhink Have you tried the Troubleshooting section for Linux machines mentioned here? https://github.com/GoogleChrome/puppeteer/blob/master/docs/troubleshooting.md#chrome-headless-doesnt-launch

@HarshitKaushik Interesting. I’ve only tested it on High Sierra so far, is an upgrade for you possible? Or no chance?

*@all* I’ve added additional error reporting on branch `bug/9`, hopefully this will h

[2018-07-11 23:30] mixn commented on #10
@boudhayan-dev @rafal-olszewski Could you try the steps provided here https://github.com/mixn/carbon-now-cli/issues/9#issuecomment-404339159 and report back? Thanks!

[2018-07-11 23:34] mixn commented on #8
Glad you like it. :) The idea of profiles has been (briefly) discussed in #2, too. Just keep an eye out on #2 !

[2018-07-11 23:35] #8 closed

[2018-07-12 00:20] okonomiyaki3000 opened #13 "Just a question really"
What font is that with the cool 'f'? The one in the example that starts like `const unfold =`

[2018-07-12 00:41] mixn commented on #13
Hi. :) I use `const unfold =` all over the place in the docs, haha. Where exactly?

[2018-07-12 00:54] mixn commented on #7
@farkaskid Added. :)

[2018-07-12 00:54] #7 closed

[2018-07-12 03:45] okonomiyaki3000 commented on #13
In the readme at the top of this repo. The rendered image is using a font that might be italicized and the 'f' has a little hook at the bottom. I thought I was familiar with most of the common monospaced fonts but I haven't seen this before.

[2018-07-12 03:46] okonomiyaki3000 commented on #13
The example claims IBM Plex Mono but I don't think it is.

[2018-07-12 03:48] okonomiyaki3000 commented on #13
Ah! Sorry, I was wrong. It is IBM Plex Mono italic. I didn't realize its italic version was so different from regular. It's pretty cool though.

[2018-07-12 03:48] #13 closed

[2018-07-12 05:55] boudhayan-dev commented on #10
No luck. Both the messages are being displayed again.

[code]

[2018-07-12 07:03] csrgxtu opened #14 "there is no image file as the output said"
![image](https://user-images.githubusercontent.com/5053620/42617570-b30861c0-85e4-11e8-8fde-2266aef46724.png)

[2018-07-12 09:01] mixn commented on #14
Thanks for reporting @csrgxtu. :) This is a duplicate of #10, so have keep an eye out on that one. 😇 Hope I get it fixed soon!

[2018-07-12 09:01] #14 closed

[2018-07-12 09:21] mixn commented on #13
Glad you like it. :) I’ve been using the regular, extra light version for several months now in both terminal & editor. I really like.

Thanks for closing, too! :)

[2018-07-12 14:00] mixn commented on #10
@boudhayan-dev Thanks for reporting back. :) Hm… have you tried a custom location? Didn’t work either? Like `carbon-now foo.js -l ~/Somelocation`.

[2018-07-12 16:17] Sneezoo commented on #9
same issue here.
Fixed it for me with the help of the link @mixn send before.
Unfortunately a kernel update was not the solution, but a small change in _headless-visit.js_ instead:
[code]
Fixed the issue, but as stated in the chrome and puppetteer docs this would be a potential security risk!

@mixn I would like to create a PR with a new simple `--disable-sandbox` flag. Ok for you?

[2018-07-12 16:20] jokeyrhyme opened #15 "offline support: run without needing to contact carbon server"
I'm wondering whether this is possible / desirable to be able to run this tool locally in an offline way?
Is this outside the scope of this project? Or would a PR be welcome?

[2018-07-12 17:29] boudhayan-dev commented on #10
**@mixn**  Unfortunately it did not work this time as well. I did a clean install and even commented out `L151-157` before `npm install` , yet no luck.

**Installation -**

[code]

**Test -**

[code]

You can see the directory listing as well as the chromium response in the `test.html` file.

![output](https://user-images.githubusercontent.com/20648536/42649397-3c2c0f78-8627-11e8-8d31-e6a249b4a378

[2018-07-12 20:14] jwkicklighter commented on #2
Seems like rather than re-using the interactive settings, you could just have a config file somewhere like `~/.carbonnowrc`. Put the current defaults in there if the file doesn't exist, then when an interactive session finished prompt "would you like to save these as your new defaults?"

[2018-07-12 20:55] mixn commented on #2
@jwkicklighter That is actually exactly how I wanted do this. :) I’ve always loved [Yeoman’s approach](http://yeoman.io/authoring/storage.html).

[2018-07-13 00:52] mixn commented on #9
My good friend and colleague @Sneezoo was so nice to not just test this on his Linux machine, but also fix it. ❤️ Thanks so much, Flotto — super appreciated.

I’ve reviewed and run your code, looks good to me.

It’d be good if @livissnack @HarshitKaushik @yedhink could do the same and give feedback prior to merging. Please do this

[code]

🤞 🤞 🤞

[2018-07-13 00:57] mixn commented on #10
Have you tried saving to any other place than `D:` via `-l`?

Also, check and try https://github.com/mixn/carbon-now-cli/issues/9#issuecomment-404693397, maybe that will help. It adds an extra flag to the headless Chrome via `-S`.

@rafal-olszewski Maybe you could try this, too. :)

[2018-07-13 01:06] mixn commented on #15
@jokeyrhyme Thanks for your feedback. :)

While this should be possible, I don’t know how desirable or needed it really is, to be honest. It’d have to locally co-exist with the entire [Carbon project](https://github.com/dawnlabs/carbon), and `carbon-now-cli` is already quite big as is, mostly due to the usage of [Puppeteer](https://github.com/GoogleChrome/puppeteer). It’d also assumingly add quite

[2018-07-13 01:11] mixn commented on #12
@albinekb Thanks for your input. :) I’ve added this one to the “ideas” pile, since I do believe that it could come in handy sometimes. Not my highest priority atm though, but certainly not against it, either.

[2018-07-13 01:40] jokeyrhyme commented on #15
@mixn teehee
I didn't realise this CLI uses puppeteer to drive the remote carbon service, which itself internally uses puppeteer to render the code with canvas within a browser
I think this is the main rendering logic within carbon: https://github.com/dawnlabs/carbon/blob/master/handlers/image.js
This makes me wonder whether we could copy that into the CLI, which is already using puppeteer...

[2018-07-13 01:41] jokeyrhyme commented on #15
@mixn in terms of use cases, I just prefer things to be offline whenever there's no special reason for them to require a connection
People don't always have a connection available, and people might not always be comfortable sending their code to a remote service

[2018-07-13 02:01] mixn opened #17 "Background color option missing in interactive mode"
As noticed and mentioned [here](https://twitter.com/arbaoui_mehdi/status/1016666266453598208?s=21), the interactive mode currently doesn’t ask for a background color and always defaults to `none`.

[2018-07-13 02:04] #17 closed

[2018-07-13 02:29] mixn commented on #17
Ships with v1.0.4. ✅

[2018-07-13 07:23] boudhayan-dev commented on #10
@mixn  I have tried both the suggestions. Did not work.

[2018-07-13 11:44] mittalyashu commented on #15
Agree with this.

[2018-07-13 11:47] mittalyashu commented on #10
Facing the same problem.

![image](https://user-images.githubusercontent.com/29014463/42690080-a88df2be-86c0-11e8-8762-127bcab16bf0.png)

[2018-07-13 15:11] jwkicklighter commented on #2
I think my main point is that if there is some sort of default settings, it would make sense that they're modifiable by the user (why I suggested that on first run, it creates a settings file to read from). It would also be a helpful feature to have a flag to specify a _different_ config to use, but I don't see the reason to not have the default, no arguments functionality use a config file. Other

[2018-07-13 18:53] Sneezoo commented on #10
I suspect `Page.downloadBehavior` to be the problem, but I can't prove it with tests so I just wrote a hacky workaround for you guys.
You can clone my fork https://github.com/Sneezoo/carbon-now-cli and checkout `downloadBehavior-workaround`:
[code]
@boudhayan-dev @mittalyashu @rafal-olszewski Could you please try again with my changes and report back?

[2018-07-14 05:52] boudhayan-dev opened #18 "Option to choose output image name"
Is it possible for the user to define the output image's name ? It seems to me that successive usage of the tool ends up overwriting the previous carbon.png instead of creating a new carbon(1).png.

[2018-07-14 06:06] boudhayan-dev commented on #10
@Sneezoo  I did a ` npm i -g carbon-now-cli` with your suggested edits. It did not work when the tool is installed globally.However, when it was installed locally, it works with `node cli.js filename.ext`.  Is it supposed to be like this ?

[2018-07-14 07:07] mittalyashu commented on #10
I hope I did correctly:

Here is the log file I got: [2018-07-14T07_01_00_855Z-debug.log](https://github.com/mixn/carbon-now-cli/files/2194746/2018-07-14T07_01_00_855Z-debug.log)

![image](https://user-images.githubusercontent.com/29014463/42722039-ac4db4a0-8762-11e8-82d3-6813f39e59ba.png)

[2018-07-14 10:30] Sneezoo commented on #10
Hi! I hope my instructions haven't been too unclear. My fix is not merged to carbon-now-cli, yet. Also I will have to invest more time on it, to make it stable and enable features like SVG and selecting a target directory.
This time the complete instructions, to try the workaround:
[code]

[2018-07-14 10:35] mixn commented on #10
@boudhayan-dev @mittalyashu You have to try it locally (**not** via the global that comes via `npm i -g carbon-now-cli`), since it’s a fork. :)

[2018-07-14 16:13] #10 closed

[2018-07-15 14:35] mixn commented on #2
### So…

I thought (quite a lot) about all things said here (and on Twitter) and just published `1.1.0-0`, which takes everything here into consideration. You can install it via

`npm i -g carbon-now-cli@next`

**What it all does/includes**:

- It will create `~/carbon-now.json` if not present
- Interactive mode will now ask two additional questions

<img width="691" alt="screen shot 2018-07-15 at

[2018-07-15 14:43] mixn commented on #18
This now ships with the prerelease of `v1.1.0-0`. :) More infos on how to install it can be found [here](https://github.com/mixn/carbon-now-cli/issues/2#issuecomment-405096144).

@boudhayan-dev Please be aware that you might have the same issues you’ve had in #10, as I’ve not merged @Sneezoo’s PR yet, due to lack of feedback. Just a heads up. :)

[2018-07-15 19:45] boudhayan-dev commented on #18
@mixn Thank you. The new additional features are very helpful.

[2018-07-15 22:11] mixn commented on #18
@boudhayan-dev I’m still waiting for more people to chime in on #10. So depends on that. Plus, @Sneezoo’s PR was kind of a dirty hotfix to see if it helps. Him or me or both of us (we’re friends and colleagues) would have to properly integrate it still. But definitely on my radar. :)

Feel free to close this issue, since the above is related to #10 atm. Maybe @Keraito can confirm that this enhance

[2018-07-15 23:00] Keraito commented on #18
I can try this out tomorrow and report back then 👍

[2018-07-16 04:48] boudhayan-dev commented on #18
@mixn Awesome.

[2018-07-16 11:30] Keraito commented on #18
Looks all good to me @mixn. One remark, would it be of interest to add some static part to the format so it's easier to index, find, or exclude from a repo through gitignore? Maybe something simple like `foo-cn-ef52f53aab.png`?

[2018-07-16 11:42] mixn commented on #18
@Keraito You can always save to a particular folder via `--location` and then ignore that folder, no? :) I think that should be enough.

[2018-07-16 12:47] HarshitKaushik commented on #9
I tried with the change in headless-visit.js and from bug/9 branch @mixn . Still it seems to be not working with MasOS Sierra Version 10.12.6.

<img width="719" alt="screen shot 2018-07-16 at 5 56 30 pm" src="https://user-images.githubusercontent.com/7580209/42758795-544e0fcc-8922-11e8-8de5-336129397c9c.png">

[2018-07-16 12:56] mixn commented on #9
@HarshitKaushik Could you try it with a different save location on that branch? E.g. `node cli.js test/test-dummies/_index.html -l ~/Desktop`

[2018-07-16 13:11] mixn commented on #18
@Keraito I’ll let @boudhayan-dev do the closing. :) Thanks for the input, guys!

[2018-07-16 13:17] HarshitKaushik commented on #9
@mixn tried and same error. :(

[2018-07-16 13:18] #18 closed

[2018-07-16 13:30] mixn commented on #9
@HarshitKaushik Out of curiosity and to see if this is related, pls try this https://github.com/mixn/carbon-now-cli/issues/9#issuecomment-404693397 and report back. Thank you. :)

[2018-07-16 13:50] HarshitKaushik commented on #9
@mixn I think I have found the issue.

Additional info:

  Error: ENOENT: no such file or directory, rename '/Users/harshit/Documents/home-workspace/carbon-now-cli/carbon.png' -> '/Users/harshit/Documents/home-workspace/carbon-now-cli/_index-616b5da3db.png'

Additional info:

  Error: ENOENT: no such file or directory, rename '/Users/harshit/Documents/home-workspace/carbon-now-cli/carbon.png' -> '

[2018-07-16 14:01] mixn commented on #9
@HarshitKaushik The file is first downloaded as `carbon.png` then renamed to `originalfilename-ID.png`. So the renaming fails because the file doesn’t exist, which means the download fails in the first place. Have you tried upgrading to High Sierra to see if the error is still there?

[2018-07-16 16:18] HarshitKaushik commented on #9
Hi @mixn , thanks for letting me know. I'll upgrade to High Sierra and update later on this issue. :)

[2018-07-18 06:34] denny64 commented on #5
It would be awesome to be able to output your entire codebase in a minified version !

[2018-07-19 12:04] mixn commented on #2
Documented now:

https://github.com/mixn/carbon-now-cli#presets

I think this issue is hereby ✅. :)

[2018-07-19 12:04] #2 closed

[2018-07-19 14:43] jwkicklighter commented on #2
@mixn I wrote up this huge comment and came back to the top to make sure that you hear that I appreciate taking a lot of options into consideration, and love the work you're putting into this. Keep it up! I'm very persistent when it comes to working on usability, and I just want to make sure my thoughts on it are shared, even if nobody likes the idea :)

I like the compromise that you came to, but

[2018-07-20 23:35] mixn commented on #2
@jwkicklighter Thanks for the kind words, it means a lot. :)

You are mistaken in the sense that once you reuse a setting via `-p`, you won’t be needing the `-p` any more — since those settings are the default from that point on.

So running a one-off means having to only use `-p` the very next time afterwards, not “forever into the future”. :)

[2018-07-24 02:18] jwkicklighter commented on #2
@mixn Great! That's way closer to what I was describing/what I would expect, and I can't complain about that without nitpicking :)

[2018-07-25 17:59] aibolik commented on #15
I think in the scope of this project it should leave as is.

Carbon is awesome, but I think it was supposed to use the website and mainly with gists. So, probably it is reasonable to think about another CLI library that does what carbon does without any internet connection, since it can be done(and it is what actually all famous IDEs do).

Internet connection can be used for fetching themes, addit

[2018-07-30 09:13] bimohxh commented on #6
all files cause this error

[2018-08-02 14:39] #15 closed

[2018-08-09 12:27] prosimplecoding opened #21 "Multi language version"
I suggest add function for multi language version.

[2018-08-09 13:32] fernandezjose opened #22 "Error when running any command."
Hi,

I am getting the following error when I try to run any command, including `--help`

[code]

I am running MacOS High Sierra 10.13.6 and node/npm v8.0.0

[2018-08-09 15:18] mixn commented on #21
Hi and thanks for reaching out. :) I am not entirely sure on what you mean — could you please elaborate a bit? @prosimplecoding

[2018-08-09 15:23] mixn commented on #22
Hi @fernandezjose, thanks for reaching out. :)

You are correct in the sense that object spread is only available as of Node `v8.3` (I will clarify this in the docs soon).

I suggest upgrading or installing another version via [nvm](https://github.com/creationix/nvm). I just installed `8.0.0` and got the same error, but using (for example) `v8.11.3` or `v10.6.0` worked flawlessly.

[2018-08-10 07:15] prosimplecoding commented on #21
@mixn I suggested that carbon.now.sh be available in different languages. In addition, I meant the possibility that people from different countries will be able to add their language to the interface.

[2018-08-10 09:10] mixn commented on #21
@prosimplecoding I only made the CLI, the repository for the web interface can be found [here](https://github.com/dawnlabs/carbon). :)

[2018-08-10 09:10] #21 closed

[2018-08-11 06:21] mittalyashu opened #23 "Carbon-now-cli@next is stuck installation at executeActions"
Carbon-now-cli@next is stuck at installation `postinstall: sill install executeActions`

![image](https://user-images.githubusercontent.com/29014463/43988868-60b1046a-9d5c-11e8-9a3f-743bff686343.png)

[2018-08-11 12:27] mixn commented on #23
Hi. :) Getting stuck in `postinstall` can often be due to a bad internet connection. Please run it with `--verbose` like so `npm i -g carbon-now-cli@next --verbose` and see how long it takes.

Also, what Node version are you using?

[2018-08-11 12:28] #22 closed

[2018-08-11 13:35] mittalyashu commented on #23
Node version `10.8.0`

I have tried to install it many times but facing the same issue every time.

[2018-08-11 14:42] mittalyashu commented on #23
https://gist.github.com/mittalyashu/5534d6174186e264b5fe8a572f41acd4

[2018-08-11 16:34] mixn commented on #23
I tried it with `v10.8.0`, worked without problems for me. Also, **none** of the dependencies loaded from cache take more than `50ms` for me, which is much, much faster than yours. Those numbers are insane. 😮

I researched this further related to Windows. You should try

a) clearing the npm cache
b) doing

[code]

That should help.

[2018-08-11 17:36] mittalyashu commented on #23
Don't know 😂

[2018-08-11 18:00] mittalyashu commented on #23
I think it works.

[code]

Let me see if it works.

[2018-08-11 18:10] mittalyashu commented on #23
When I run this command `carbon-now` it showed me this error

![cmd_2018-08-11_23-36-52](https://user-images.githubusercontent.com/29014463/43994767-eff80430-9dbf-11e8-8e41-2b7ef8645c71.png)

Where it should be supposed to create this directory `.carbon-now.json`?

[2018-08-11 18:15] mixn commented on #23
Happy it worked! :) I’ll close this issue then. :)

As the `Error` suggests, you have to provide at least a file, e.g.

[code]

Thanks for the feedback, glad it got resolved. :)

[2018-08-11 18:15] #23 closed

[2018-08-11 18:22] mittalyashu opened #24 "File can be found here: <path>?"
![image](https://user-images.githubusercontent.com/29014463/43994860-a13a0b20-9dc1-11e8-809c-51eb8055c3b1.png)

[2018-08-11 18:34] mittalyashu commented on #23
But it didn't ask me these two questions.

![image](https://user-images.githubusercontent.com/29014463/43994959-50bf6a44-9dc3-11e8-9123-b9e91edb931f.png)

[2018-08-11 18:49] mixn commented on #23
@mittalyashu Which version are you using? Run `carbon-now --version` to find out.

[2018-08-11 18:50] mittalyashu commented on #23
Carbon version: `1.0.4`

[2018-08-11 18:53] mixn commented on #23
Well, as it [says in the docs](https://github.com/mixn/carbon-now-cli#disclaimer), presets can only currently only be used through `@next` aka. atm `v1.1.0-0`. 😉😄

[2018-08-11 18:53] mittalyashu commented on #23
But I did used this command `npm i -g carbon-now-cli@next` to install.

[2018-08-11 18:54] mixn commented on #24
Duplicate of #9 and as it seems likely an issue with Puppeteer.

[2018-08-11 18:54] #24 closed

[2018-08-11 19:47] mixn commented on #23
@mittalyashu The version is definitely off though. Maybe uninstall `npm uninstall -g carbon-now-cli` and re-install `npm i -g carbon-now-cli@next`. Should work without problems.

[2018-08-11 20:05] mittalyashu commented on #23
Still the same problem

![image](https://user-images.githubusercontent.com/29014463/43995668-ff023274-9dcf-11e8-9159-55eee9f02c7f.png)

[2018-08-11 20:45] mittalyashu commented on #23
No worries ☺️. Thanks for the help anyways.

I will try to `run as administrator`.

[2018-08-11 20:56] mittalyashu commented on #23
I have tested the same thing with some other npm package and that worked fine, but face the same issue with carbon again, even in the administrator mode.

![image](https://user-images.githubusercontent.com/29014463/43995969-e94ddc74-9dd6-11e8-9f38-313edfbc1483.png)

[2018-08-11 21:14] mittalyashu commented on #23
@minx, check this thread https://twitter.com/mittalyashu77/status/1028360489351426052?s=19

[2018-08-13 13:49] mittalyashu commented on #23
Hmm... So, should I wait until the release is out from `next`.

[2018-08-13 15:25] mittalyashu commented on #23
Means I am on the next version, but is not showing it correctly. Right?

[2018-08-14 12:32] mixn commented on #23
@mittalyashu No, it means that you have most likely multiple versions installed and the wrong one is being used by default.

[2018-08-14 15:26] thib92 commented on #12
I'll make a PR for this. Researching how I can output the file content in a format that will be caught correctly by `pbcopy`.

[2018-08-14 15:41] mixn commented on #12
@thib92 I’m actually kind of already working on this. :)

[2018-08-14 16:30] albinekb commented on #12
Yes, that's correct @mixn I mixed it up with pbcopy usage 👍

[2018-08-14 17:14] thib92 commented on #12
Oh, I thought about copying the file in the clipboard to paste it in a GUI program. I think this could be a cool feature as well, what do you think ?

[2018-08-14 18:42] thib92 commented on #3
@mixn Actually this issue relates to what I was talking about on #12.
I think a `--copy` flag would indeed be the best way to integrate it.
@tsriram have you started working on this?

[2018-08-14 19:58] mixn commented on #12
Yep that’s #3. It should ideally not just work with `pbcopy` / on Mac, but be cross-env.

[2018-08-14 20:48] thib92 commented on #12
Cool! If you need help on this one then (code in `stdin`), I can help as well.

[2018-08-15 08:57] mittalyashu commented on #23
But I have even tried to remove it globally and then tried installing it again.

[2018-08-15 17:26] mixn commented on #23
@mittalyashu As mentioned in the Twitter thread, you might have several versions installed and removing one globally, doesn’t remove the other.

[2018-08-15 19:19] molnarmark commented on #5
I was gonna write a package that sits on top of this project that would do exactly this, but the common #9 issue is happening on my end too.

[2018-08-16 05:28] mittalyashu commented on #23
So, what should I do now?

On Wed, 15 Aug 2018, 22:56 Miloš Sutanovac, <notifications@github.com>
wrote:

[2018-08-16 20:00] mittalyashu commented on #23
I made it work, and it has installed correctly now 🎉🥂🙌.

![image](https://user-images.githubusercontent.com/29014463/44231849-0f287280-a1bd-11e8-80b9-6d153d4d8467.png)

[2018-08-16 20:07] mittalyashu commented on #9
Any progress on this issue?

[2018-08-16 20:37] mixn commented on #9
@mittalyashu No proper feedback has been given so far and I unfortunately can’t reproduce this. Try [this](https://github.com/mixn/carbon-now-cli/issues/9#issuecomment-404693397) please and report back. :)

[2018-08-17 07:05] mukulkhanna opened #26 "Chromium crashes before image can be saved"
[code]

on MacOS, installed via npm.

[2018-08-17 08:02] mixn commented on #26
Hi @mukulkhanna, thanks for reporting. Please install the current prerelease via `npm i -g carbon-now-cli@next` and report back what the `Additional info` prompts below `This is mostly due to: […]`. Thanks.

[2018-08-17 13:06] mixn commented on #9
@mittalyashu This looks very similar to [https://github.com/GoogleChrome/puppeteer/issues/2894](this), the error is the same + it’s on Windows, even though it is 7 — it’s Windows. 😅 Also doesn’t seem to be the same problem as others in this thread were experiencing, since that one seems to be [https://github.com/GoogleChrome/puppeteer/issues/299](this issue).

[2018-08-17 17:12] mittalyashu commented on #9
Here's the issue on chromium: https://bugs.chromium.org/p/chromium/issues/detail?id=831887

[2018-08-17 18:57] mukulkhanna commented on #26
Aren't .vue files supported?

Error message:

[code]

.vue file

[code]
command:

`carbon-now App.vue`

[2018-08-17 19:08] mixn commented on #26
@mukulkhanna This has nothing to do with Vue files. :) It’s a duplicate of #9 aka. Puppeteer doesn’t download the image correctly, hence it can’t be renamed. You should get the same error with non–Vue files.

[2018-08-17 19:12] mukulkhanna commented on #26
It worked fine with a .js file in the same directory.

[2018-08-17 19:17] mixn commented on #26
@mukulkhanna It downloaded the `.js` image seamlessly and saved it correctly? But failed with a `.vue` file? Really?

[2018-08-17 19:46] mukulkhanna commented on #26
yes, yes.

![image](https://user-images.githubusercontent.com/24846546/44285777-5463a780-a284-11e8-981a-29d7069d9b10.png)

[2018-08-17 19:51] mukulkhanna commented on #26
It's working now. So I tried with another vue file in another directory. And its not happening.

command : **carbon-now index.vue**
[code]

[2018-08-17 19:54] mukulkhanna commented on #26
I dont know what the mess was/is. Its working fine now . I am closing this, thanks for the help anyway :)

[2018-08-17 19:54] #26 closed

[2018-08-18 08:55] HarshitKaushik commented on #9
@mixn Apology for the delay on the follow-up to this issue. I upgraded up Mac to High Sierra V 10.13.6 and still facing the same issue and the same error.

<img width="720" alt="42761957-a210bd18-892c-11e8-8aca-44f1c380523f" src="https://user-images.githubusercontent.com/7580209/44297641-86135780-a2f2-11e8-90fe-d914a56b7f3f.png">

[2018-08-18 18:36] molnarmark commented on #9
@mixn Please see this commit which fixes the image download issue people are having (including me) by using Chromium's screenshot API.

https://github.com/molnarmark/carbon-now-cli/commit/9738aa78a8291da3d213dc8bfc2e782c6527748d

[2018-08-18 19:43] mixn commented on #9
@molnarmark Thanks for your input and for playing with this, I appreciate it. :)

I am aware of the screenshot API and have tried using it in the very beginning but abandoned the idea pretty quickly due to the unacceptable image quality it resulted in.

Without screenshot API (`1238 × 578`):

![without-screenshot-api](https://user-images.githubusercontent.com/672237/44302643-af9da480-a32d-11e8-989

[2018-08-19 02:37] molnarmark commented on #9
@mixn Glad to be of help. :) Carbon CLI was a planned project for me, but had no time, so I'm glad I can help. :+1:

[2018-08-19 12:11] mixn commented on #9
Ok, here it goes. :)

The download is performed differently now, when `-h` is used. It’d be **great** if everyone in this thread could try this out. Especially cause I’m on a Retina display and don’t know for sure how `deviceScaleFactor: 2` will behave on non-Retina displays.

Please do this:

[code]

This should lead to an image being downloaded that has the same quality as without having used `-

[2018-08-19 21:01] molnarmark commented on #9
@mixn Works totally fine. :smile: Hopefully this gets put into the next branch and I can continue working on my slideshow tool. :+1:

[2018-08-20 12:03] mixn commented on #9
@mittalyashu Ups, I forgot to add [this](https://github.com/mixn/carbon-now-cli/commit/cc432784a639a08c57102a84aa5eb0f7a2173ed4). But honestly, that shouldn’t have anything to do with a download failing. But we’ll see — I don’t ever trust Windows. 😄 Pls repeat the steps @mittalyashu or just pull the changes inside your already existing, cloned repo. Thanks.

[2018-08-20 12:42] mittalyashu commented on #9
After re-trying few times, and it worked finally.

### Input

![image](https://user-images.githubusercontent.com/29014463/44340911-f9a89680-a4a3-11e8-85e4-1849d9fe7246.png)

### Output

![_unfold-e434ac6ae3](https://user-images.githubusercontent.com/29014463/44340926-0331fe80-a4a4-11e8-8ccb-4e50ba032884.png)

### Additional information

When I use this `node cli.js test/test-dummies/_unfold.js -h`

[2018-08-20 12:48] mixn commented on #9
@mittalyashu Finally! 👏 So glad it worked.

Because `headless: true` doesn’t seem to work with `'Page.setDownloadBehavior'` (the default download behaviour, issue with Puppeteer). Using `-h` downloads the image differently, which works without issues with `headless: true`.

Pretty obvious, I think — to not overwrite already downloaded images. :) Also, this is a preparation for #5 , the images have

[2018-08-20 13:06] mittalyashu commented on #9
👍👍👍👍👍

But what about the image have black line at the left side.

[2018-08-20 13:09] mixn commented on #9
@mittalyashu Yeah, I’ve noticed this, too — but only happens when you use the very default, initial settings. Once I went through interactive mode once, it never occurred to me. Run with `-i` once and answer the questions, shouldn’t be there ever after.

[2018-08-20 13:40] mixn commented on #9
@mittalyashu It seems to be related to the font used. Doesn’t occur with `Anonymous Pro`, `Dank Mono`, `Inconsolata`, `Iosevka`, `Monoid`, `Ubuntu Mono`. With the rest it does. Seems to be some pixel-issue related to how the font is rendered. 🤷‍♂️

[2018-08-20 14:25] mixn commented on #9
@mittalyashu Ok, I just fixed this for me — it works with every font now without the black `1px` line when `-h` is used. 🎉 Please pull the changes on `fix/9` and try again, should without problems. :)

Using Hack:

![hack](https://user-images.githubusercontent.com/672237/44346159-957ed600-a495-11e8-890b-2fe4ed1741a0.png)

Using Droid Sans Mono:

![droid sans mono](https://user-images.githubusercon

[2018-08-20 15:08] mittalyashu commented on #9
Yup it worked. 🎉🎉🎉

![chrome_2018-08-20_20-27-02](https://user-images.githubusercontent.com/29014463/44348667-b0af0d00-a4b8-11e8-98e9-ec0344cba655.png)

Found another problem 😓

[code]

Here's the output with no padding _(vertical or horizontal)_

![image](https://user-images.githubusercontent.com/29014463/44348709-dc31f780-a4b8-11e8-81f3-e7e0b11c688d.png)

[2018-08-20 15:15] mixn commented on #9
@mittalyashu Great! 🎉 About time. 😉

Also, be aware that this thread is originally only for failed downloads, not follow-up stuff. I will merge `fix/9` later on and publish a new version that ships with `-h` and then close this issue. 👍 🎉

I’ll still address your problem… what you want is a [valid CSS unit](https://developer.mozilla.org/en-US/docs/Learn/CSS/Introduction_to_CSS/Values_and_units), s

[2018-08-20 15:29] mittalyashu commented on #9
Yeah, finally it working. Now you can close this issue.

[2018-08-20 18:10] HarshitKaushik commented on #9
@mixn @mittalyashu Really appreciate the help with investigating and fixing the issue. This thing is working for me now. And feels awesome! 😉

[2018-08-21 19:57] mixn commented on #9
As a TL;DR for everyone, who eventually ends up here somehow:

I published `v1.1.0` and as of that version, `carbon-now-cli` ships with a `--headless`/`-h` flag.

This flag avoids [Puppeteer’s experimental `Page.setDownloadBehavior`](https://chromedevtools.github.io/devtools-protocol/tot/Page#method-setDownloadBehavior) feature and uses [`elementHandle.screenshot()`](https://github.com/GoogleChrom

[2018-08-21 19:57] #9 closed

[2018-08-21 19:58] mixn commented on #9
As a TL;DR for everyone, who eventually ends up here somehow:

I published `v1.1.0` and as of that version, `carbon-now-cli` ships with a `--headless`/`-h` flag.

This flag avoids [Puppeteer’s experimental `Page.setDownloadBehavior`](https://chromedevtools.github.io/devtools-protocol/tot/Page#method-setDownloadBehavior) feature and uses [`elementHandle.screenshot()`](https://github.com/GoogleChrom

[2018-08-29 11:21] mittalyashu opened #27 "Doesn't open in browser"
![2018-08-29_16-50-11](https://user-images.githubusercontent.com/29014463/44784553-ad4c0d80-abab-11e8-93aa-90be8e965739.gif)

[2018-08-29 11:32] mittalyashu commented on #27
Sorry for keep you waiting 😜😂

Nope, it doesn't even work, if we open the terminal as administrator.

[2018-08-29 11:36] mixn commented on #27
😏 😃

As previously, I can’t reproduce this — it works with just `-o` and with `-s` + `-e` + `-o`.

What is the content of `BtnLink.js`?

[2018-08-29 11:38] mittalyashu commented on #27
Just a simple button component.

![carbon_2018-08-29_17-08-05](https://user-images.githubusercontent.com/29014463/44785318-1d5b9300-abae-11e8-9098-94b8d7b5186e.png)

[2018-08-29 11:39] mixn commented on #27
@mittalyashu Please post the code here.

[2018-08-29 11:39] mittalyashu commented on #27
[code]

[2018-08-29 11:41] mixn commented on #27
Works without issues for me. https://carbon.now.sh/?bg=%23ADB7C1&t=seti&wt=none&l=javascript&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=48px&ph=32px&ln=false&fm=Hack&fs=18px&lh=133%25&si=false&code=import%2520React%2520from%2520%27react%27%250Aimport%2520%257B%2520Link%2520as%2520GatsbyLink%2520%257D%2520from%2520%27gatsby%27%250Aimport%2520styled%2520from%2520%27styled-components%27%250A

[2018-08-29 11:43] mixn commented on #27
`carbon-now-cli` uses [`opn`](https://github.com/sindresorhus/opn) under the hood. There is a [CLI for `open`](https://github.com/sindresorhus/opn-cli), please try that out on its own. I don’t think this issue is on `carbon-now-cli`’s front.

[2018-08-29 11:45] mittalyashu commented on #27
I will install it and try.

![2018-08-29_17-14-27](https://user-images.githubusercontent.com/29014463/44785621-27ca5c80-abaf-11e8-9fcf-5f2f0155e57f.gif)

[2018-08-29 11:46] mixn commented on #27
Also, if there is a `~/carbon-now.json` present, post it here pls.

[2018-08-29 11:48] mittalyashu commented on #27
I have installed the `opn` package and it worked, but `carbon-now-cli` is still not working.

![2018-08-29_17-17-38](https://user-images.githubusercontent.com/29014463/44785719-85f73f80-abaf-11e8-8f67-c8d59d34ee58.gif)

[2018-08-29 11:49] mittalyashu commented on #27
Here's the `.carbon-now.json` file.

[code]

[2018-08-29 11:54] mixn commented on #27
Please try opening it from a script using the [`opn` package](https://github.com/sindresorhus/opn).

[2018-08-29 11:55] mittalyashu commented on #27
Already tried that and it's working, see the `gif` below.

![image](https://user-images.githubusercontent.com/29014463/44785719-85f73f80-abaf-11e8-8f67-c8d59d34ee58.gif)

[2018-08-29 11:58] mixn commented on #27
@mittalyashu No, you haven’t. :) Make a `.js` file, use the `opn` module to open a page there and run the `.js` file with `node file-name.js`.

Also, there is only [a single line of code that uses `opn`](https://github.com/mixn/carbon-now-cli/blob/master/cli.js#L156). ¯\_(ツ)_/¯ Wonder how this could fail on `carbon-now-cli`’s end.

[2018-08-29 12:08] mittalyashu commented on #27
Roger that 🤘🏻

![2018-08-29_17-37-06](https://user-images.githubusercontent.com/29014463/44786614-4f6ef400-abb2-11e8-8b53-0261f46318e0.gif)

Nothing happened

[2018-08-29 12:18] mixn commented on #27
You’re using `opn-cli`, not the `opn` module directly. I’ll guide you through once more:

1. Create a folder and enter it
2. Run `npm init -y`
3. Run `npm i opn --save`
4. Create a `index.js` file and do this inside

[code]

5. Run `index.js` file with `node index.js` — this should open google.com

[2018-08-29 12:28] mittalyashu commented on #27
It worked

![2018-08-29_17-57-55](https://user-images.githubusercontent.com/29014463/44787567-24d26a80-abb5-11e8-82a3-1430f9b1f548.gif)

[2018-08-29 12:44] mixn commented on #27
Hm. Please delete `.carbon-now.json` and run with `-o` again.

[2018-08-29 13:06] mittalyashu commented on #27
I have deleted the `.carbon-now.json` file, run the command again `carbon-now btnlink.js -o`, the command didn't work and the `.json` file was created again.

[2018-08-30 11:55] mixn commented on #27
I’ll leave this open for a bit to see if somebody experiences the same problem.

[2018-09-13 04:40] Suleman-Elahi opened #28 "Doesn't work in Windows 10"
![image](https://user-images.githubusercontent.com/24384996/45467293-814c9280-b73c-11e8-8d45-16213ece3c46.png)

[2018-09-13 07:05] mixn commented on #28
Hi @Suleman-Elahi, thanks for reporting. :)

This looks like a duplicate of #9, which is fixed. Please try running with `-h`, e.g. `carbon-now test.html -i -h`. Should work without issues.

[2018-09-13 10:18] rahulkp220 commented on #27
Not working for me on OS X as well. Isn't opening the browser, says
[code]

[2018-09-13 10:53] mixn commented on #27
@rahulkp220 Do you happen to be behind a proxy?

I can’t debug/fix this because it hasn’t happened to me a single time pre or post release. More info or fixes are welcome. :)

[2018-09-13 10:58] mittalyashu commented on #28
@mixn Since I have to deal with this issue also, so can you make `px` as default measuring unit.

[2018-09-13 11:00] rahulkp220 commented on #27
Okay, the message was a success,
[code]

[2018-09-13 11:46] mixn commented on #28
@mittalyashu

Very likely not, because this is not an issue — it just allows for all units by requiring more explicitness.

Adding `px` by default would mean having to remove it in all other cases. Also, presets! :)

[2018-09-13 11:50] mixn commented on #27
@rahulkp220 Can you confirm that you’ve run

[code]

and are running `v1.1.0` of `carbon-now-cli`? And that it didn’t open a browser for you?

[2018-09-13 11:59] mittalyashu commented on #28
I see. 🤔

[2018-09-13 12:08] mixn commented on #27
@mittalyashu @rahulkp220 Pls both confirm that the browser of your choice is [exists / is available in your `$PATH`](https://github.com/sindresorhus/opn/issues/66#issuecomment-325191836). Also, there is [this](https://github.com/sindresorhus/opn/issues/79), which is still open. And you should try [closing your browser before running `carbon-now`](https://github.com/sindresorhus/opn/issues/41#issue

[2018-09-13 14:14] rahulkp220 commented on #27
@mixn Yes, I used the exact same command as you mentioned and I am using the latest version
[code]
Plus doing a `open -n -a "Google Chrome" --args "https://google.com" --incognito` works absolutely fine on my system.

[2018-09-13 16:54] mittalyashu commented on #27
@mixn should I create a server, just like this https://github.com/mixn/carbon-now-cli/issues/27#issuecomment-416931691 to test it.

[2018-09-14 05:44] #28 closed

[2018-09-14 14:17] mixn commented on #27
@mittalyashu @rahulkp220 I’m in 🇨🇦 atm, so not really able to look at this much more closely. Will do when back. :) Feel free to debug/further inspect as it’s reproducible on your system.

[2018-09-17 15:36] guillermosnipe commented on #5
I know that it looks ugly, it's WIP, but you might find this useful.

https://gist.github.com/guillermosnipe/9532fcf779614d1fc00aa018fa075810

[2018-09-18 09:31] ad-si opened #30 "Feature request: Flag to specify output filename"
[code]

[2018-09-18 10:22] ad-si opened #31 "Feature request: Flag to specify a preset file"
This CLI is very ... uhm ... special. None of the obvious flags do exist 🙈

`cat my-preset.json`

[code]

[code]

[2018-09-18 12:00] ad-si opened #32 "Bug: Language setting is ignored"
At https://github.com/mixn/carbon-now-cli/blob/master/src/helpers/default-settings.js#L7 there is a `"l"` field defined to change the language. However, it seems to be ignored.

[2018-09-18 12:55] mixn commented on #32
The language is detected automatically based on [language-map.json](https://github.com/mixn/carbon-now-cli/blob/master/src/helpers/language-map.json). I should maybe add that as a comment to that file, thanks for pointing out.

[2018-09-18 12:55] #32 closed

[2018-09-18 12:58] mixn commented on #31
Hi @ad-si, thanks for chiming in.

This comment is very… uhm… special. None of the clarifications on what you actually mean do exist. 🙈😁

It is anything but special to have one global config file in `~/`, if that is what you are trying to say.

<img width="1165" alt="screen shot 2018-09-18 at 14 56 47" src="https://user-images.githubusercontent.com/672237/45689036-31facd80-bb53-11e8-9b65-0995afe40

[2018-09-18 15:21] mixn commented on #31
@ad-si I’ve thought about this some more and having a hard time seeing the benefits of adding a flag like this.

`carbon-now-cli` functions on a per-preset basis. Meaning, every preset is kind of like a config in its own right.

It is similar to something like [Yeoman’s `.yo-rc.json`](http://yeoman.io/authoring/storage.html), where each generator configuration is namespaced. Hence, only one config

[2018-09-19 16:08] #30 closed

[2018-09-19 16:27] mixn commented on #18
@boudhayan-dev @Keraito I thought I might [leave this here](https://github.com/mixn/carbon-now-cli/issues/30#issuecomment-422866776), even though this has been closed for a while now. TL;DR: `--target` is a thing now and allows for specific naming of the output image.

[2018-09-20 12:41] ad-si commented on #30
Thanks! Not sure why you choose `--target` over `--output`, as all CLI tools I can currently think of use '--output', but nevermind 😅

[2018-09-20 12:48] ad-si commented on #30
Also I would have used `-t test.png` instead of `-t test`. Now if someone reads that piece of code in a script they have no idea what it means.
`-t test` could mean anything: Run tests before generating the image, execute it in a special test mode.
Also you often safe file names in a variable like `$OUTPUT_PATH`. With your inteface one has now to laboriously split up the variable in its parts. If

[2018-09-20 12:49] ad-si commented on #30
And if someone tries to `--output ~/Desktop/test.jpeg` simply throw an Error `The jpeg format is currently not supported`

[2018-09-20 13:15] ad-si commented on #31
I'm generating some screenshots for the docs of a project of mine.
If somebody else want's to hack on that project as well, they can't simply run `make`, because they first have to copy the preset into their own `~/.carbon-now.json` file.
Hence, there should be a way to specify a local preset file which gets bundled with the project.

If you don't like skipping the preset name it could also be rea

[2018-09-20 13:31] ad-si commented on #32
Ok, but Bash seems to be missing from the language-map, although carbon supports it:

![screen shot 2018-09-20 at 13 30 35](https://user-images.githubusercontent.com/36796532/45821724-731cea00-bcd9-11e8-9f15-6944181b02e8.png)

[2018-09-20 13:33] ad-si commented on #32
Or actually not OK. When I use it like this `carbon-now (echo 'ls -la' | psub)`, the file doesn't have a file ending and therefore I should be able to specify the target language.
Also: You should probaly add support for stdin. E.g. `echo 'ls -la' | carbon-now`

[2018-09-20 13:47] mixn commented on #30
Because `-o` is already taken by `--open` and the shorthand should match the beginning letter imo.

Note taken. 👍😊 For now `-l` + `-t` will suffice.

[2018-09-20 13:56] mixn commented on #32
True, I apparently missed that one. Will add for `.sh` extension. Files with shebangs and no extension will default to `auto` then. Thanks!

`auto` seems to not auto-detect Bash on Carbon’s website though. 🤔 See https://goo.gl/GRAK8b vs. https://goo.gl/UfxugR . I’ll check their issues later.

OR RLY? 😁

#12. This was already a feature that was done and implemented on `feature/12` and my brand new

[2018-09-20 14:11] ad-si commented on #30
Open should be a subcommand and not a flag, but that's another topic 😅

This tool shouldn't have any shortcuts. It's not that anyone will use it so often (unlinke e.g. `ls`) that typing a few characters more would be a problem. However, it will be used in scripts and then people with stumble upon cryptic `-o,-s,-e,-i,-l,-t, -o, -p,-h` flags in those scripts and have no idea what they mean.

If you

[2018-09-20 14:31] ad-si commented on #31
Haha, well then ... 😄

Like I said it in the other issue: I wouldn't add a shorthand
Especially not for this flag, as it will probably mostly be used in scripts.

[2018-09-20 14:59] mixn commented on #30
This is my first OS CLI and your passive-aggressiveness is not helping. So my thoughts on this are: ¯\_(ツ)_/¯ 😄

A CLI will always be used more frequently in the CL than in scripts, hence the shortcuts. Also, feel free to use the `--long-version` in scripts, nothing wrong with that. 👍

[2018-09-20 15:13] ad-si commented on #30
Oops, sorry. You're profile sounded like you'd be an experienced developer ...

Yeah, I will. But others won't. They will simply copy what they typed and not bother about making it readable and others have to deal with it 😭

[2018-09-20 15:17] mixn commented on #31
@ad-si Wouldn’t a `--config` be more desirable/fitting? Since

[code]

essentially **is** a config. It’d behave the same way as `~/.carbon-now.json` without auto-saving `latest-preset` to it to not modify the git history when run via a script.

Thoughts?

[2018-09-20 15:21] mixn commented on #30
We’re all just beginners, really. We never stop learning. And just cause I’m a JS consultant and developer, doesn’t mean I know all of UNIX by heart since I am 5 y/o. And fairly, that is **fine**. :)

Maybe you can teach us all, Adrian? 😄 Feel free to, we’d all appreciate it. Contribute your learnings and make tutorials on it, I’m glad to dive in and share it.

I’m done with this thread and your a

[2018-09-20 15:27] ad-si commented on #30
That's what I'm trying. Feel free to check it out at: adriansieber.com

I actually just created a TODO: "Write blog post about best practices for command line interfaces" :grin:

[2018-09-20 15:29] mixn commented on #31
Wouldn’t that be even more confusing, since it would a) differ from the usual config and b) limit it to only one preset instead of `x` via `carbon-now --config=./local-config.json --preset=preset-57`? One config with the same structure allowing limitless presets and mixtures.

I don’t either, took it straight from Carbon’s URL params to not having to map the map again. 😄

[2018-09-20 15:34] mixn commented on #30
I’ve seen your website, it’s cool that you have one! :) Looking forward to that post!

[2018-09-20 15:36] ad-si commented on #31
Yeah, not sure either. Probably `carbon-now --config=./local-config.json --preset=preset-57` is fine. I guess consistency between `local-config.json` and `carbon-now.json` is a good thing.
But what happens when you don't specify a preset? Should it throw an error?

Great UX has it's price ;-)

[2018-09-20 15:45] mixn commented on #31
I’d rather keep the `latest-preset` behaviour then. Which will result to it being written every time you run it and have `--config` set. 🤔 Not sure.

This was in the very early stages, way before presets. I might re-map, but not a high priority atm.

[2018-09-21 16:31] neilrichter opened #33 "Can't install carbon-now-cli"
Her, I'm running MacOS latest version 10.13.6, and node 10.9, it throws the error :
[code]

[2018-09-23 13:46] mixn commented on #33
@neilrichter Hi and thanks for reporting. :) Sorry for the delayed response, I’m in 🇨🇦 atm.

Just like @wadie, I can’t reproduce your issue with the exact same setup. (`10.13.6` + `10.9`), sorry. Works without issues for me.

[2018-09-24 15:35] mixn commented on #31
@ad-si I’ve thought about this some more and think this is the best approach:

[code]

It behaves the same way as using the global config, for the only difference that it:

1. Will not write `latest-preset` to `local-config.json`, file stays untouched.
2. It also won’t create `local-config.json` if it hasn’t existed before.

Not specifying `--preset` would result in the default settings being used

[2018-09-24 16:08] ad-si commented on #31
Sounds good!
But maybe it should print a warning / error if a config file is specified, but not used? Or is there a reason why anyone should do it without it being an error?

[2018-09-24 17:31] neilrichter commented on #33
Works now, I guess it was cache. Thanks !

[2018-09-24 17:31] #33 closed

[2018-09-26 14:15] mixn commented on #31
@ad-si I just published `v1.3.0-0` where this is included. 🙂 Docs are [here](https://github.com/mixn/carbon-now-cli#local-configs) + warning for non-existent presets included. 👍

<img width="747" alt="screen shot 2018-09-26 at 16 12 46" src="https://user-images.githubusercontent.com/672237/46085803-29d00d00-c1a7-11e8-9a48-b1f3b538ce1d.png">

[2018-09-26 14:16] #31 closed

[2018-10-12 14:36] mauricedb opened #34 "Using a start and end index with a different number of digits can fail"
Using the `--start` and `--end` can fail the check that the end line is larger than the start line because the comparison is done using strings instead of the numerical value.

Example:
[code]

**Expected behavior?**
This to work just fine.

**Observed behavior?**
[code]

[2018-10-14 21:33] #34 closed

[2018-10-16 08:43] itaisteinherz commented on #3
I'm currently working on this, but it seems like a `--copy` flag wouldn't work because there currently isn't a usable cross-platform clipboard module which allows you to copy image.
I think the best solution for the moment being is enabling piping (see #12), and piping the CLI's output to an OS-specific clipboard application, such as `pbpaste` (or any other alternative) on *nix-based systems.

[2018-10-16 10:48] mixn commented on #3
@sindresorhus Maybe you could chime in on this since I am using `execa` to run the OS-specific scripts. As mentioned in my comment above, it works flawlessly on macOS — it copies to clipboard and exits properly.

![macos](https://user-images.githubusercontent.com/672237/47011008-0282b500-d141-11e8-8a25-bbaac7821138.gif)

On Linux, it copies properly, but doesn’t exit — it’s like the Promise is `pe

[2018-10-16 10:58] mixn commented on #27
@mittalyashu There was a [bug](https://github.com/mixn/carbon-now-cli/pull/35) with `--start` and `--end` that I missed and your original comment in this thread is based on that. Could you try running it without the parameters, e.g.

[code]

[2018-10-16 11:48] mittalyashu commented on #27
![image](https://user-images.githubusercontent.com/29014463/47014301-79cb3f80-d167-11e8-8fb3-90a66796d5ab.png)

Tried this but still it didn't work.

[2018-10-16 11:51] mixn commented on #27
Ok, thought it couldn’t hurt to ask. :)

[2018-10-18 08:12] cawa-93 opened #36 "Is it possible to use this program as a module in Node.js?"
I would like to add some logic, automatically set the settings depending on the file type and add post-processing after creating the image.

[2018-10-18 13:12] mixn commented on #36
Hi @cawa-93.

While this tool is a CLI and intended to be used via terminal, it should be possible to work around this and use it inside node scripts.

You could run the globally installed `carbon-now` command with something like [`execa`](https://github.com/sindresorhus/execa). This would even work with a local copy of `carbon-now-cli` via `package.json` by running the `cli.js` file, that’s prett

[2018-10-18 13:44] #36 closed

[2018-10-19 16:15] #3 closed

[2018-10-19 16:43] mixn commented on #3
I just published `v1.3.0` where this is available. 🙂🎉 `npm i -g carbon-now-cli` to update to that version.

✅ Cross-OS 😱
✅ Docs are [here](https://github.com/mixn/carbon-now-cli#copying-to-clipboard)

Example of using it with a preset + pasting to Twitter:

![copy-demo](https://user-images.githubusercontent.com/672237/47231996-c19fd000-d3ce-11e8-826a-c400e4e2e930.gif)

Thank you all for chiming in

[2018-10-19 17:09] mixn opened #37 "--headless stopped working"
`--headless` times out in `Fetching beautiful image` step. This is due to Carbon removing `#container-bg`. Instead, `.export-container` needs to be used now. A test should also catch future failing `--headless` usage, since @dawnlabs could potentially change this again at any time.

[2018-10-19 17:50] #37 closed

[2018-10-21 14:47] flxwu opened #38 "Background images (custom/unsplash)"
Does carbon-now-cli support background images as carbon.now.sh does? 🙂

[2018-10-21 20:17] mixn commented on #38
Hey @flxwu, thanks for opening. 🙂

`carbon-now-cli` does not support background images, I actually remember intentionally leaving this out when I started working on this tool.

Personally, I’ve never seen a piece of code from Carbon being shared with a background image and felt the additional work was not worth it. I still feel that way about it, to be honest. 🙃 Plus with presets and `--open`, man

[2018-10-21 21:08] flxwu commented on #38
Hey @mixn , thanks for sharing this!

We're building a Twitter bot for the github.com/30-seconds/ projects and would like to use your tool for creating a nice image, but it would be a lot more awesome to have an unsplash background 🙂

[2018-10-23 14:47] mixn commented on #38
Thanks for using, really appreciated! I’m a big fan of the 30 seconds project myself. :)

I’ll think about this some time soon. Not the highest priority atm, but I’ll leave it open as a feature-request that I’ll eventually, probably, maybe add sometime. 😄

[2018-10-23 22:31] mixn commented on #27
@mittalyashu

Ok, so I actually set up a Windows VM 😅🔫😆 and tested this — and it worked! 🙂

![opn-windows](https://user-images.githubusercontent.com/672237/47394470-4bc79b80-d723-11e8-951a-666334218d18.gif)

There was *one* time out of like ~12 where it failed. I have no idea why but I am like 95% certain this is related to [some of the issues I’ve mentioned here](https://github.com/mixn/carbon-no

[2018-10-26 16:44] #27 closed

[2018-10-26 17:28] mittalyashu commented on #27
Do I need to update `carbon-now-cli` locally?

[2018-10-26 17:32] mixn commented on #27
@mittalyashu I didn’t change anything related to this, as I’ve stated in my previous comment. It worked on Windows, macOS, Unix and the issue seems to be related to the `opn` module.

[2018-11-28 11:52] mixn opened #39 "Incompatible with Carbon 3.6.0"
Version [`3.6.0`](https://github.com/dawnlabs/carbon/releases/tag/3.6.0) of Carbon and its UI changes introduced breaking changes to `carbon-now-cli` (again), due to selectors/the structure changing. This will be patched _**asap**_.

[2018-11-29 15:07] mixn commented on #39
**Update**: As soon as https://github.com/dawnlabs/carbon/pull/592 is (hopefully) merged and deployed, `carbon-now-cli` will be patched. 🎉 A huge thanks to the team [@dawnlabs](https://github.com/dawnlabs/) for being very responsive and supportive about this! 🙏

[2018-11-30 10:31] mixn commented on #39
**Update**: Will publish `v1.3.2` in the next few hours, where this is fixed and included.

[2019-01-14 14:39] mixn commented on #39
The hooks seem to be missing in Carbon’s UI again. Keep an eye out on this thread (merged PR that previously fixed this).

https://github.com/dawnlabs/carbon/pull/592

[2019-01-22 13:00] gunar opened #43 "Failed do launch chrome!"
![image](https://user-images.githubusercontent.com/7684574/51537139-e031bf00-1e34-11e9-9a8e-ee32fab447d2.png)

[2019-01-22 14:51] mixn commented on #43
Hi @gunar, this is likely a problem with Puppeteer and your system. There are several issues filed with the same heading:

https://github.com/GoogleChrome/puppeteer/issues/807
https://github.com/GoogleChrome/puppeteer/issues/3422
https://github.com/GoogleChrome/puppeteer/issues/2924
https://github.com/GoogleChrome/puppeteer/issues/3424

Maybe try [this](https://github.com/GoogleChrome/puppeteer/is

[2019-01-22 19:12] gunar commented on #43
Thank you

[2019-01-22 19:12] #43 closed

[2019-02-17 04:16] lebensterben opened #44 "Carbon closes connection unexpectedly resulting in net::ERR_CONNECTION_CLOSED error"
Hi,

I was trying to process a bash scripts file and the carbon-now-cli always shows that

```Error: Sending code to https://carbon.now.sh went wrong```

I uploaded my script [here](https://gist.github.com/lebensterben/2548f75ea24becc7ac3dd1478397f1a7), and please try the following command on it.

First, ```carbon-now colortest```, does't work.

There are 75 lines in the file, and changing the the

[2019-02-17 21:13] mixn commented on #44
Hi @lebensterben, thanks for the very detailed report on this. 🙂 Also, nice username. 😊

I was able to reproduce this issue for your particular use case and started investigating. Debugged for quite a bit and ended up noticing that it has nothing to do with certain special characters or your file in particular.

It has something to do with the length of the URL that gets produced and Puppeteer tri

[2019-02-17 21:44] Sneezoo commented on #44
As explained thoroughly in https://stackoverflow.com/a/417184 ,
there is no character limit in URLs in theory, but most servers and browsers defined their own limits.

I guess Puppeteer is not the problem here, but the carbon now server.
As you can see in the link above, puppeteer would likely have it's limits about over 32k.

Also a "connection closed" error sounds more like a carbon issue to me,

[2019-02-17 22:02] mixn commented on #44
A wild buddy @Sneezoo appears! 😄

https://youtu.be/NrS523dOHU4

[2019-02-17 22:13] lebensterben commented on #44
@mixn @Sneezoo

Thanks for your quick response. Now I agree that this seems to be related to length limit.

I first tried to run ```carbon-now``` on a file with only the two code blocks I suspected to cause the errors, and it went perfectly well.

Then I add comments with [Loren ipsum](https://www.lipsum.com/feed/html) texts and find that it would fail if I have more than 3 paragraphs. I think tha

[2019-02-26 10:54] mixn commented on #44
@mfix22 I wanted to file an issue for this over in the Carbon repo, but thought I might `@` you first to see what your thoughts on it are. :)

[2019-02-26 15:35] mfix22 commented on #44
There is a number of limits outside of Carbon, yes. Browser's have [URL length limits](https://stackoverflow.com/questions/417142/what-is-the-maximum-length-of-a-url-in-different-browsers) which we counteract locally by creating Blob URLs. However, if we need to send the string to Puppeteer (in order to support Safari) we also run Lambda payload size limits (that are non-adjustable at-the-moment).

[2019-03-02 18:21] mixn commented on #44
@mfix22 It failed for me on Chrome mobile and it also gave the error above (see screenshot) when coming from the CLI.

Maybe @Sneezoo could chime in here again as well?

[2019-03-02 23:41] Sneezoo commented on #44
Chiming in!

Yeah I tested a few things there with the script posted above.
When I just used carbon.now "like everyone else" it worked fine. Like copy-pasting code there and it worked fine. But reloading the page broke it with the previously mentioned connection error on mobile Chrome and Firefox (Laptop; Ubuntu). Also reusing the URL that was generated in the address bar failed in a new tab.

I g

[2019-03-04 01:52] mixn commented on #12
@albinekb @thib92

After having lost all my work on this feature due to a broken Macbook and being super swamped with work, I’ve finally found the motivation and time to ship this (technically a 2nd time. 😄)

Ships with `v1.4.0`. :) Docs, if needed, can be found [https://github.com/mixn/carbon-now-cli#input-sources](here). 🎉

Thank you for the idea and feedback! 🙏

[2019-03-04 01:53] #12 closed

[2019-03-04 18:28] mfix22 commented on #44
@mixn I'm trying to follow this discussion, but if I miss something and am holding up progress, please open an issue on our repo. I would love to support larger payloads while still using Now 2.0, if possible.

[2019-03-06 09:10] thib92 commented on #12
Amazing work 👏 👏

[2019-03-22 00:01] mixn commented on #38
@flxwu Could you provide a/some ideal usage examples for this feature? How would you expect it to work?

[2019-03-22 01:00] mixn commented on #5
I’m considering closing this feature request as I’ve only needed this use case twice so far and simply ran

[code]

to achieve it. :)

I think a nice, small package on top does sound kinda interesting though, @molnarmark. Could you provide a possible usage example? Something that just mirrors the flags and pipes them through?

[code]

[2019-03-22 10:29] molnarmark commented on #5
@mixn Something like that, yes. The package would probably reuse a lot of the helpers from carbon-now-cli (such as preset validation).

I also imagine it would be run by npx most of the time.

[2019-03-22 11:15] mixn commented on #5
@molnarmark Do you technically have the time/interest to work on this at the moment? :) Otherwise I’d likely write a tiny, dirty package some time soon.

[2019-03-22 11:34] molnarmark commented on #5
@mixn I would if #9 wouldnt still exist for me. :\ (Even running with -h doesnt fix it for some weird reason)

[2019-03-22 11:38] mixn commented on #5
@molnarmark What?! 😮 We even [talked about it here](https://github.com/mixn/carbon-now-cli/issues/9#issuecomment-414098877), I was certain it worked for you (as it did for everyone else). Also the issue has been quiet since, so I was **sure**. Feel free to comment over there with your current error. 🤔

[2019-03-22 11:45] molnarmark commented on #9
While the fix was working for me @mixn, I went through an OS switch (Mint -> Elementary), and got a different error message:

[code]

Adding `--no-sandbox` to the puppeteer.launch call fixed it for me. I'm probably not the only one who will face this issue though.

[code]

[2019-03-22 11:57] mixn commented on #9
@molnarmark I _assumed_ this was the case, since I’ve had it happen in another project a few days ago. :) I’ll most likely add a `--disable-sandbox` flag as initially suggested by @Sneezoo [a long time ago](https://github.com/mixn/carbon-now-cli/pull/16).

Or, he can add it if he wants? :) Don’t want to take away from his work…

I was thinking no shorthand, e.g. only `--disable-sandbox`. Time/inte

[2019-03-22 17:40] molnarmark commented on #5
@mixn Started working on it. :)

[2019-03-22 21:18] mixn commented on #5
@molnarmark That is awesome and much appreciated. :) Looking forward to it!

[2019-03-22 23:08] molnarmark commented on #5
@mixn https://github.com/molnarmark/carbon-now-dir :)

[2019-03-23 11:42] mixn commented on #5
@molnarmark Thank you very much for the fast delivery. :) Happy to have found a “middle ground” and to have this functionality, without added bloat. 👏

[2019-03-23 11:42] #5 closed

[2019-03-26 09:42] nikolasburk opened #46 "Allow configuring "theme colors" in presets"
The Carbon CLI is really awesome and I love that it's possible to store and reuse a configuration as preset. One thing I'd love to add to the config though is the actual "theme colors" (i.e. what color e.g. variables, operators, keywords, comments, ...).

Basically these options from the Carbon web UI:

![Screenshot 2019-03-26 at 10 39 45](https://user-images.githubusercontent.com/4058327/54986908

[2019-03-26 20:59] mixn commented on #46
Hey @nikolasburk, thanks for chiming in and the nice words, much appreciated. Big fan of your work! :)

That’s an idea I’ve had since first seeing that this is now fully configurable in the web UI.

First thought it might not be possible without doing some disgusting DOM traversing through Puppeteer, but just noticed all these values are stored in `localStorage`. :)

You’d likely lose the state/vi

[2019-04-10 21:22] Rokko11 opened #47 "Using custom theme"
Hi,

there are [many themes](https://github.com/dawnlabs/carbon/blob/master/lib/constants.js) like dracula, base16-dark, etc... defined in carbon-now-sh, but I also can define a custom theme there.

Is it possible to use a custom theme with carbon-now-cli?

Kind regards,
Rokko

[2019-04-10 22:11] mixn commented on #47
Duplicate of feature request #46. :)

[2019-04-10 22:12] #47 closed

[2019-05-09 05:03] tan-wei opened #48 "Pretty cool but does not work well in Windows 10"
Thanks for this great plugin for `carbon`. However, there are some problems with my own computer.
1. `carbon-now` always complains those:
[code]
It seems that we can not set the timeout value by input parameters. So I try to change `headless-visit.js`, set timeout from 2000 to 20000. It doesn't work.
2. Just like #28, if I use switch `-o`, chrome will not be opened then.

Is anything wrong with my

[2019-05-09 05:47] tan-wei commented on #48
After several times try (more than 10 times), `-h` works.

[2019-05-09 21:09] mixn commented on #48
That's right @tan-wei. :) See [https://github.com/mixn/carbon-now-cli/issues/9#issuecomment-414801757](this comment for details).

[2019-05-09 21:10] #48 closed

[2019-06-01 02:27] horance-liu opened #49 "Can't not install it"
$ npm i -g carbon-now-cli
npm WARN deprecated cross-spawn-async@2.2.5: cross-spawn no longer requires a build toolchain, use it instead
/usr/local/bin/carbon-now -> /usr/local/lib/node_modules/carbon-now-cli/cli.js

ERROR: Failed to download Chromium r662092! Set "PUPPETEER_SKIP_CHROMIUM_DOWNLOAD" env variable to skip download.
{ Error: connect ETIMEDOUT 64.233.162.83:443
    at TCPConnectWrap.aft

[2019-06-01 15:08] mixn commented on #49
Please see [this](https://github.com/GoogleChrome/puppeteer/issues/2173) or [https://github.com/mixn/carbon-now-cli/issues/33](this) or [https://github.com/mixn/carbon-now-cli/issues/23](this). :)

[2019-06-01 15:09] #49 closed

[2019-07-22 08:10] Relequestual opened #50 "Line highlighting option"
It looks like Carbon supports highligting individual lines: https://github.com/dawnlabs/carbon/issues/824#issuecomment-513311215

Could this be added as a CLI option?

[2019-07-22 08:42] mixn commented on #50
As stated by yourself [https://github.com/dawnlabs/carbon/issues/824#issuecomment-513694282](here), adding it shouldn’t be a problem if when it’s configurable via qs.

[2019-07-22 08:45] Relequestual commented on #50
Right. I guess the first step is to try and make it part of the query string config... I'll take a look at that in the next few days and then come back!

[2019-07-22 08:46] #38 closed

[2019-08-15 08:06] Relequestual commented on #50
https://github.com/carbon-app/carbon/issues/806 has now been resolved and code can have font attributes changed including colour, however it doesn't add to the URL, which I believe is required for this to wrok?

[2019-12-24 21:49] popey456963 opened #51 "Bad folder handling on Windows"
When you run the following command:

    carbon-now -h C:\Users\USER1\AppData\Local\Temp\tmp-21636fth6rhRO9IAw\M3EDyV9G2G.txt -t C:\Users\USER\AppData\Local\Temp\tmp-21636fth6rhRO9IAw\M3EDyV9G2G.txt

It doesn't understand the absolute path:

    Error: ENOENT: no such file or directory, rename 'C:\Users\USER\Documents\Github\femto-apps\web-file-uploader\carbon.png' -> 'C:\Users\USER\Documents\Gith

[2020-04-08 23:58] redaxmedia opened #54 "SVG fails with headless mode"
Unfortunately, SVG dowloading / renaming fails with headless mode.

[code]

[2020-04-09 00:00] redaxmedia opened #55 "Language in config not working"
The language config is not working using:

[code]

BTW: Never shorten keys, variables and stuff. You turned that config into a guessing game.

[2020-04-09 20:21] mixn commented on #55
@redaxmedia Hi Henry, thanks for opening and showing interest in `carbon-now-cli`— it’s appreciated!

A couple of things…

1. I didn’t shorten keys, but instead took them as they are from the Carbon web app (see the query string when doing anything in the UI). To help with the possible confusion, I even linked the settings in the docs (seen below) and commented things [in the associated file](http

[2020-04-09 20:22] #55 closed

[2020-04-09 20:24] redaxmedia commented on #55
I see, thanks for pointing this out.

[2020-04-09 20:28] mixn commented on #54
@redaxmedia Thanks for opening one more issue, Henry. 🙂

Yeah, that is [the case for `--headless`](https://github.com/mixn/carbon-now-cli/issues/9#issuecomment-414801757), since it was an edge-case in the beginning anyway. `--headless` leads to a different export mechanism which uses Puppeteer’s `elementHandle.screenshot()` that doesn’t support SVG. SVGs can only be achieved without `--headless`.

[2020-04-09 20:29] #54 closed

[2020-04-09 20:30] redaxmedia commented on #54
Properly, you consider to disable SVG in headless then and return a warning like "not supported in headless mode" ...

[2020-04-16 21:53] amb1s1 opened #56 "command not found: carbon-now"
➜  snippets carbon-now
zsh: command not found: carbon-now

I installed using
[code]
But when I try to run it, it show command no found. Where does  carbon-now is install? I'm installed it under centos 7

[2020-04-16 22:03] amb1s1 commented on #56
I was able to find my path using `echo $(yarn global bin)`

[2020-04-16 22:03] #56 closed

[2020-04-16 22:41] amb1s1 commented on #9
I'm having the same issue on CentOs7:

[code]

[2020-04-16 23:24] amb1s1 commented on #9
This fix my issue on my ubuntu box:

[code]

[2020-04-17 00:17] amb1s1 opened #57 "Picture is not coming up Square"
I don't know if there is a line limit on the code that after passing that limit the square is disable.

Here is my preset:

[code]

[2020-04-17 02:14] mixn commented on #57
@amb1s1 Hi, thanks for reporting. :)

Could you pls share the code snippet you used? Thanks!

[2020-04-17 13:09] amb1s1 commented on #57
[code]

[2020-04-19 14:58] mixn commented on #57
@amb1s1 Thank you!

Judging by [this thread](https://github.com/carbon-app/carbon/issues/591), squared images seem to not be a thing inside Carbon any more. Opening [https://carbon.now.sh/?si=true](https://carbon.now.sh/?si=true) confirms this.

I’ll leave the option in `carbon-now-cli` for now, as it might return at some point, but yeah, at the time of this writing it’s not supported by Carbon it

[2020-04-19 15:00] #57 closed

[2020-05-10 21:05] delanym opened #58 "not creating file"
With command `carbon-now sample.js` or piping from stdin

[code]
I get this output

[code]

The browser did open, and the image was created. It closed by itself and left this error without creating any files.
Kernel: 5.3.0-51-generic x86_64 bits: 64 Desktop: Gnome 3.34.3 Distro: Ubuntu 19.10 (Eoan Ermine)

[2020-06-17 02:54] Samreay opened #59 "Allow ability to specify language"
Hi team, I notice in the settings, that you cannot manually specify the language.

[code]

Which is frustrating, because if you are trying to extract code snippets from a markdown file, or a Jupyter notebook, or any file which doesnt have the right extension, you do not get the correct formatting. It would be great if we could specify this manually, instead of my current solution (which is to igno

[2020-08-21 08:51] prakhargurunani commented on #51
@popey456963 You are importing the file from a directory of a different user `USER1` and saving the image in a sub directory of the user `USER`. Give a clarification on this if it was a typo error.

[2020-09-12 12:39] popey456963 opened #60 "Cannot output to different mount"
`Rename` fails if the output directory is not on the same hard drive as the current working directory.  Here, /tmp/ is mounted to a different location as CWD:

[code]

And it fails with:

[code]

[2020-09-16 04:20] sunbc0120 opened #61 "macOS "Error: Chromium revision is not downloaded""
Installed with `sudo npm i -g carbon-now-cli`

[code]

However, `Chromium` had already been installed with `npm`:
[code]

[2020-09-16 11:08] sunbc0120 commented on #61
1. Installation succeeded with:
[code]
Only such `chromium` would be installed properly.

2. to get it to eventually working, `-h` must be given in every call, e.g.:
[code]
 as mentioned in: https://github.com/mixn/carbon-now-cli/issues/48#issuecomment-490752463

[2020-09-16 11:08] #61 closed

[2020-09-16 11:09] sunbc0120 commented on #58
try:
[code]

see: https://github.com/mixn/carbon-now-cli/issues/48#issuecomment-490752463

[2020-09-16 12:36] mixn commented on #58
@delanym As described in the docs, please use `-h`.

Thanks @sunbc0120!

[2020-09-16 12:36] #58 closed

[2020-09-16 12:37] mixn commented on #51
@prakhargurunani @popey456963 Thank you!

[2020-09-16 12:37] #51 closed

[2020-09-16 13:14] delanym commented on #58
mmm....ok, if you're going to have experimental as the default behaviour then an stdout message to that effect would help (or fallback to stable after failing)

[2020-09-21 03:42] felipecrs opened #62 "Record the terminal"
It would be awesome if this could support taking a screenshot from the terminal text, just like Asciinema, but static.

[2020-09-21 13:04] mixn commented on #62
Hey @felipecrs, thanks for opening. 🙂

Could you elaborate a bit on how exactly this would behave / look like?

It sounds like it’s beyond the scope of this project — but I’m still curious!

[2020-09-21 13:52] felipecrs commented on #62
For sure!

Yes, I also thought that but decided to open the Issue anyway so we at least can discuss the topic.

My use case is: I wrote a CLI, and I want to capture some beautiful images using it. Example:

![image](https://user-images.githubusercontent.com/29582865/93775061-d1d21280-fbd6-11ea-9989-6b0e553457c0.png)

I took the screenshot in my Windows Terminal, with my settings and color profiles

[2020-10-19 20:10] alrevuelta opened #63 "Why opening the browser? Can't we render it locally?"
Just found this amazing project, but find odd that it has to open the browser in order to render the image and then download it. Isn't it possible to run it locally? Faster rendering, no internet connection needed, and no dependancy to an external service.

I'm sure the code from `carbon-now` can be reused somehow. Not a web-dev myself, but happy to help if anyone wants to team up.

[2020-11-10 04:11] dhinesh-venkat opened #64 "Fails to launch chromium in mac"
Error: Navigation failed because browser has disconnected!

[2020-11-11 16:32] chiptopher commented on #64
I had the same problem. Using the `--headless` flag seems to have solved the problem.

[2020-11-12 14:48] mixn commented on #64
@dhinesh-venkat Works with `--headless` as suggested by @chiptopher.

PS: Thanks! @chiptopher :) 👍

[2020-11-12 14:48] #64 closed

[2020-11-12 15:00] mixn commented on #59
Hey @Samreay, sorry for the late response, I somehow completely missed this — my bad! :)

It [currently indeed will be ignored](https://github.com/mixn/carbon-now-cli/blob/63b7915a9df1a09949d2a5633fa10d987d666fce/src/helpers/default-settings.js#L7-L9) when set manually.

I’m collecting feature requests, enhancements, bugs, etc. that will ship with `v2` of this CLI — the list is getting longer and

[2020-11-20 15:35] fruit-matrix commented on #46
I want to have make a theme which suits the color scheme of my website. In this above screenshot by @nikolasburk , it seems possible for the user to select whichever colors they want for the variable names, function names, etc. That option seems to be really great. Unfortunately, I cannot see it on the carbon.now.sh website. Has it been removed? :(

[2020-12-18 07:00] #44 closed

[2021-01-11 09:09] julianrubisch commented on #59
👋  do you accept PRs on this?

[2021-03-30 00:42] CleoMenezes commented on #64
Thx. That work for me

[2021-05-06 13:13] mahieyin-rahmun opened #65 "Option to process directories of files with include/exclude filters"
I think it could be a great feature to include an option to specify a target directory, and all files in that directory can be processed. There could also be filtering options based on file extensions, file names etc.

I am willing to work on a PR if this can be included in the tool.

[2021-05-06 14:20] mixn commented on #65
Hey @mahieyin-rahmun, thanks for opening. :)

Can you take a look at https://github.com/mixn/carbon-now-cli/issues/5? I’d assume that’s what you mean?

[2021-05-06 16:55] mahieyin-rahmun commented on #65
Ah yes, #5 matches the criteria. I see that it's already done. Thanks.

[2021-05-06 16:55] #65 closed

[2021-07-09 12:43] DevT0ny opened #66 "dependencies needs to be updated"
![image](https://user-images.githubusercontent.com/47944176/125079475-4b44de00-e0e1-11eb-9d6a-37890567620e.png)

[2021-07-15 03:28] raveling commented on #46
+1 🙇

[2021-08-04 11:35] iamdevnitesh opened #67 "Output Error. Sending code to carbon.now.sh"
[code]

[2021-08-17 21:15] editid0 opened #68 "npm install error"
[code]
I've tried everything, including clearing cache, and trying on a different machine, this is the third machine i've tried, all with the same issue, All ubuntu 20.04 LTS, I've tried installing puppeteer@1.20.0 manually too

[2021-09-16 09:28] Relequestual opened #69 "Transparant background does not save in png when background is "none""
With the background set to "none" as per the example config, and saving as png, I'd expect to get a transparant background.

But alas, I do not.

I get the hashed "this is transparancy" squares, usually shown in other applications.

![false json](https://user-images.githubusercontent.com/731158/133587215-19c69920-82fe-4fe8-ab29-f95b5f628a0a.png)

[2021-12-12 18:48] AbstractAlao opened #70 "Include Original Line Numbers"
I just want to osay thank you for this. I was able to automate taking screen shots of over 500+ lines of code. The only problem is that the line numbers options won't put the actual line numbers from the file unless you take a full screenshot of the code. When using the start line and end line option is there a way to show the start and stop line number in the screenshot?

[2021-12-12 18:54] AbstractAlao commented on #50
So has this been implemented? How would you construct the command?

[2021-12-14 14:17] alfdupont opened #71 "Makes my wayland session crash"
I tried running `carbon-now` on a random `.go` file from my [Sway](https://swaywm.org/) session, it opened an instance of chromium, and my Wayland session closed immediately. I didn't have time to see an error message.

[2022-01-03 05:04] scoder37 opened #73 "failed install"
npm WARN deprecated cross-spawn-async@2.2.5: cross-spawn no longer requires a build toolchain, use it instead
npm WARN deprecated resolve-url@0.2.1: https://github.com/lydell/resolve-url#deprecated
npm WARN deprecated urix@0.1.0: Please see https://github.com/lydell/urix#deprecated
npm WARN deprecated mkdirp@0.5.1: Legacy versions of mkdirp are no longer supported. Please update to mkdirp 1.x. (No

[2022-02-13 13:49] FrancescoSaverioZuppichini commented on #9
Same on Ubuntu 20.04

[code]

[2022-02-13 14:14] FrancescoSaverioZuppichini opened #74 "Use it with gist?"
Hey guys,

Thank you for the amazing project! I was wondering if it is possible to use it to generate an image from a GitHub gist

Thanks :)

Francesco

[2022-02-13 14:27] FrancescoSaverioZuppichini opened #75 "--from-clipboard specify language"
Hey guys,

Is there a way to specify the language when using `--from-clipboard`, e.g. I want to tell carbon my clipboard contains `python` code.

Thanks :)

Francesco

[2022-02-17 07:55] feluelle commented on #59
+1 would love having this feature

[2022-04-29 06:37] BoKKeR commented on #67
I had the same problem, this solved it: https://github.com/mixn/carbon-now-cli/issues/64

[2022-04-30 18:36] iamdevnitesh commented on #67
Thanks @BoKKeR . Closing the issue.

[2022-04-30 18:36] #67 closed

[2022-05-01 09:46] BoKKeR opened #77 "Config does not load"
I am running the following

```./node_modules/.bin/carbon-now --headless --config carbon-config.json src/doc/help.md -t help -l img```

with

[code]

And the result it
![help](https://user-images.githubusercontent.com/2664857/166140720-22ad9a19-c024-4e9e-b156-fdce23af2f48.png)

While the same config on the website gives:

![image](https://user-images.githubusercontent.com/2664857/166140743-67b2d98

[2022-08-01 12:53] hpl002 opened #79 "Error: Protocol error (Page.navigate): Target closed."
✔ Processing ./Readme.md
  ✔ Preparing connection
  ↓ Opening in browser [skipped]
  ✖ Fetching beautiful image
    → Protocol error (Page.navigate): Target closed.
    Copying image to clipboard

  Error: Sending code to https://carbon.now.sh went wrong.

  This is mostly due to:

  – Insensical input like `--start 10 --end 2`
  – Carbon being down or taking too long to respond
  – Your internet

[2022-10-24 13:29] FalcoSuessgott opened #80 "stuck in Fetching beautiful image"
Using carbon-now-cli Im stuck in

[code]

until I cancel it.

Chromium opens but only a tab with `about:blank`, same behavior when using the headless mode. Any debugging tipps or suggestions?

[2022-11-08 19:33] salierykuba opened #81 "fail to install in 2022"
is not working in 2022, using node v16.18.0, and npm v8.19.3
fail to install
npm ERR! code ENOENT
npm ERR! syscall spawn git
npm ERR! path git
npm ERR! errno -4058
npm ERR! enoent An unknown git error occurred
npm ERR! enoent This is related to npm not being able to find a file.
npm ERR! enoent

[2022-11-15 11:02] Pitasi commented on #50
FWIW it's possible to use the `sl` query param like so: https://carbon.now.sh/?sl=3,5